<a href="https://colab.research.google.com/github/hnouraei/AppliedDataAnalysis/blob/master/Regular_Expressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Regular Expressions in Python

In [ ]:
import pandas as pd 
import numpy as np 
import re

In [ ]:
a='This is\'nt your cup of tea.'
print(a)

This is'nt your cup of tea.

In [ ]:
a='This is \n test'
print(a)

This is
 test

In [ ]:
# joining method 
my_list=["this","would","be","a","string"]
print(" ".join(my_list))

this would be a string

In [ ]:
my_string = "This string will be split\nin two"
my_string.split(sep="\n")

['This string will be split', 'in two']

In [ ]:
my_string.splitlines()

['This string will be split', 'in two']

In [ ]:
df = pd.DataFrame({
    'score': ['exceptional$','average', 'good', 'poor', 'average', 'exceptional'],
    'student': ['rob', 'maya', 'parthiv', 'tom', 'julian', 'erica'],
    'mark':['100 A+',70,75,55,70,99]
})
df

          score  student    mark
0  exceptional$      rob  100 A+
1       average     maya      70
2          good  parthiv      75
3          poor      tom      55
4       average   julian      70
5   exceptional    erica      99

In [ ]:
len(df['student'][0])

3

In [ ]:
type( df['score'][0])

str

In [ ]:
df['score'].str.strip("$")

0    exceptional
1        average
2           good
3           poor
4        average
5    exceptional
Name: score, dtype: object

In [ ]:
df.dtypes

score      object
student    object
mark       object
dtype: object

In [ ]:
df['mark'] = df['mark'].astype(str)

In [ ]:
df.dtypes

score      object
student    object
mark       object
dtype: object

In [ ]:
df['mark'].str.strip(' A+')

0    100
1     70
2     75
3     55
4     70
5     99
Name: mark, dtype: object

In [ ]:
df['mark'][0].str.strip(" A+")

AttributeError: 'str' object has no attribute 'str'

In [ ]:
df['mark'][0].strip(" A+")

'100'

### column is an object in pandas dataframe. It is different from a cell. Therefore the whole columns should be converted to str before we were be aple to peform strip or split.

In [ ]:
a=' There is space at the beginning and end. '

In [ ]:
a.lstrip().rstrip()

'There is space at the beginning and end.'

In [ ]:
string_a="Hello World?"

In [ ]:
string_a.find("World")

6

In [ ]:
string_a.find("hooman")

-1

In [ ]:
string_a.index("hooman")

ValueError: substring not found

In [ ]:
try: 
    string_a.index("hooman")
except:
    print("hooman not found")

hooman not found

In [ ]:
string_a.count("H")

1

In [ ]:
string_b=string_a.replace("Hello","hooman")
string_b

'hooman World?'

# string formatting

In [ ]:
custom_string="string formatting"
print(f"{custom_string} is a powerful technique")

string formatting is a powerful technique

In [ ]:
# positional formatting 
value = 0
'text {}'.format(value)

'text 0'

In [ ]:
# format specifier, f is float
print("Only {0:f}% of the {1} produced worldwide is {2}!".format(0.5155675, "data", "analyzed"))

Only 0.515567% of the data produced worldwide is analyzed!

In [ ]:
# float variable shoudl have 2 decimal points 
print("Only {0:f}% of the {1} produced worldwide is {2}!".format(0.5155675, "data", "analyzed"))

In [ ]:
from datetime import datetime

In [ ]:
print(datetime.now())

2020-12-01 15:42:59.755474

In [ ]:
time=datetime.now()
print(f"Today is {time}")

Today is 2020-12-01 15:44:16.265089

In [ ]:
print("Today is {}".format(time))

Today is 2020-12-01 15:44:16.265089

In [ ]:
a="Today is {}".format(time)

In [ ]:
print("Today's date is {:%Y-%m-%d %H:%M}".format(datetime.now()))

Today's date is 2020-12-01 19:05

In [ ]:
plan = {
    "field": 'Mechanical',
    "tool": 'courses[1]'
        }

In [ ]:
plan['field']

'Mechanical'

In [ ]:
plan["field"]

'Mechanical'

# Template strings

### Basic syntax

In [ ]:
from string import Template

In [ ]:
my_string = Template('Data science has been call $identifier')

In [ ]:
my_string.substitute(identifier="sexiest job of the 21st century")

'Data science has been call sexiest job of the 21st century'

In [ ]:
job="Data science"
name="sexiest job of the 21st century"
my_string = Template('$title has been called $identifier')

In [ ]:
my_string.substitute(title=job, identifier=name)

'Data science has been called sexiest job of the 21st century'

<b>Use ${identifier} when valid characters follow identifier</b>

In [ ]:
my_string = Template('I find Python very ${noun}ing but my sister has lost $noun')
my_string.substitute(noun="interest")

'I find Python very interesting but my sister has lost interest'

<b>Use $$ to escape the dollar sign</b>

In [ ]:
my_string = Template('I paid for the Python course only $$ $price, amazing!')
my_string.substitute(price="12.50")

'I paid for the Python course only $ 12.50, amazing!'

### Safe substitution

In [ ]:
favorite = dict(flavor="chocolate")
my_string = Template('I love $flavor $cake very much')
my_string.safe_substitute(favorite)

'I love chocolate $cake very much'

# Regex 

##### pattern tester 

https://regex101.com/

In [ ]:
import re

### find all matches of a pattern 
re.findall(r"regex",string)

In [ ]:
re.findall(r"#movies", "Love #movies! I had fun yesterday going to the #movies")

['#movies', '#movies']

## split string at each match of for example "!"
re.split(r"regex", string)

In [ ]:
re.split(r"!", "Nice Place to eat! I'll come back! Excellent meat!")

['Nice Place to eat', " I'll come back", ' Excellent meat', '']

In [ ]:
"Nice Place to eat! I'll come back! Excellent meat!".split("!")

['Nice Place to eat', " I'll come back", ' Excellent meat', '']

## Replace one or many mathes with a string:
re.sub(r"regex", new, string)

In [ ]:
re.sub(r"yellow", "nice", "I have a yellow car and a yellow house in a yellow neighborhood")

'I have a nice car and a nice house in a nice neighborhood'

### Methacharacter .  : Any Character Except New Line

123-123@

\d{3}-\d{3}.

### Methacharacter \d  : digit pattern (0-9)

In [ ]:
re.findall(r"User\d", "The winners are: User9, UserN, User8")

['User9', 'User8']

### Metacharacter \D : Non-digit pattern (0-9)

In [ ]:
re.findall(r"User\D", "The winners are: User9, UserN, User8")

['UserN']

### Metacharacter \w : word  alphabet (a-z, A-Z, 0-9, _ )

In [ ]:
re.findall(r"User\w", "The winners are: User9, UserN, User8")

['User9', 'UserN', 'User8']

### Metacharacter \W : Non-word especial characters % & ' " \n

In [ ]:
re.findall(r"\W\d", "This skirt is on sale, only $5 today!")

['$5']

### Metacharacter \s : Whitespace (space, tab, newline)

In [ ]:
# for finding the pattern of "Data Science" we must cover the space by using \s
re.findall(r"Data\sScience", "I enjoy learning Data Science")

['Data Science']

### Metacharacter \S : Non-whitespace  (space, tab, newline)

In [ ]:
re.sub(r"ice\Scream", "ice cream", "I really like ice-cream")

'I really like ice cream'

#### these are called Ancher:
#### Metacharacter \b : Word Boundary
Ha HaHa
\bHa will find frist and second 
\B will find the third one only
#### Metacharacter \B : Not a Word Boundary

####  ^ : Beginning of a String

sentence='Start a sentence and then bring it to an end'

r'^Start'

Start

r'^a'

no match

r'ensd$'

end

####  $ : End of a string 

#### [] : this is called character set and Matches Characters in brackets
123-123-1234
123*123*1234
123.123.1234

\d{3}[-.* ]\d{3}[-.* ]\d{4}   will find all of them but if you have -- can not find it because it is not included in character set

800-123-1234
900-123-1234

[89]00[-]  will find 800 and 900

#### [^ ] : Matches Characters Not in

### Repeated characters

In [ ]:
import re
password = "password1234"
re.search(r"\w{8}\d{4}", password)

### Quantifiers  * : means 0 or more

In [ ]:
my_string = "The concert was amazing! @ameli!a @joh&&n @mary90"
re.findall(r"@\w+\W*\w+", my_string)

['@ameli!a', '@joh&&n', '@mary90']

### Quantifiers  + : means 1 or more

In [ ]:
text = "Date of start: 4-3. Date of registration: 10-04."
re.findall(r"\d+-\d+", text)

['4-3', '10-04']

### Quantifiers  ? : means 0 or 1 time

adding a ? after a greedy quantifier makes it lazy. please refer to Regex Chapter 3 pdf datacamp course.

In [ ]:
# we use it for spell variation 
text = "The color of this image is amazing. However, the colour blue could be brighter."
re.findall(r"colou?r", text)

['color', 'colour']

In [ ]:
# Greedy matching

In [ ]:
numbers_found_lazy = re.findall(r"\d+", sentiment_analysis)

['536', '12']

A lazy quantifier will make the regex return 2 and 4, because they will match as few characters as needed. However, a greedy quantifier will return the entire 24 due to its need to match as much as possible.

In [ ]:
# Lazy matching

In [ ]:
numbers_found_lazy = re.findall(r"\d+?", sentiment_analysis)

['5', '3', '6', '1', '2']

For example, if you want to extract a word starting with a and ending with e in the string I like apple pie, you may think that applying the greedy regex a.+e will return apple. However, your match will be apple pie. A way to overcome this is to make it lazy by using ? which will return apple. a.+?e

### Quantifiers{n, m}  : n times at least, m times at most :

In [ ]:
phone_number = "John: 1-966-847-3131 Michelle: 54-908-42-42424"
re.findall(r"\d{1,2}-\d{3}-\d{2,3}-\d{4,}", phone_number)

['1-966-847-3131', '54-908-42-42424']

### all these quantifiers and especial characters applies immediate to the left 
- r"apple+" : + applies to e and not to apple

#### it will find the index of the pattern 
re.finditer

MethaChacters (need to escaped by\) unless you want to use them for thier purpose. For example dot is a methcharacter that means any character unless you want to use period which mandates you to use\ before the the dot.
. ^ $ * + ? { } [ ] \ | ( )

#### finding numbers, not all numbers for example finding any number between 1 to 5 
[1-5]

##### we can do the same thing for letters as well. 
[a-zA-Z]

# Pipe Operator: | means or

In [ ]:
my_string = "I want to have a pet. But I don't know if I want a cat, a dog or a bird."
re.findall(r"cat|dog|bird", my_string)

['cat', 'dog', 'bird']

In [ ]:
my_string = "I want to have a pet. But I don't know if I want 2 cats, 1 dog or a bird."
re.findall(r"\d+\s(cat|dog|bird)", my_string)

['cat', 'dog']

### Alternation: Use groups to choose between optional patterns

In [ ]:
my_string = "I want to have a pet. But I don't know if I want 2 cats, 1 dog or a bird."
re.findall(r"\d+\s(cat|dog|bird)", my_string)

['cat', 'dog']

In [ ]:
my_string = "I want to have a pet. But I don't know if I want 2 cats, 1 dog or a bird."
re.findall(r"(\d)+\s(cat|dog|bird)", my_string)

[('2', 'cat'), ('1', 'dog')]

### Non-capturing groups
Note: The non-captured group does not get a group number. 

`Add ?: : (?:regex)`

In [ ]:
my_string = "John Smith: 34-34-34-042-980, Rebeca Smith: 10-10-10-434-425"
re.findall(r"(?:\d{2}-){3}(\d{3}-\d{3})", my_string)

['042-980', '434-425']

#### Use non-capturing groups for alternation

In [ ]:
my_date = "Today is 23rd May 2019. Tomorrow is 24th May 19."
re.findall(r"(\d+)(?:th|rd)", my_date)

['23', '24']

Non-capturing groups
Match but not capture a group
When group is not backreferenced
Add ?: : (?:regex)

# grouping :by using paranteces ( )
Example:

Mr. Schafer 

Mr. Smith 

Mrs. Robinsion 

Ms Davis 


`r'M(r|s|rs)\.?\s[A-z]\w+'` # in hear "|" means "or"

#### Numbered groups

#### Note: .group() only works with .match and .search groups

Both return the first match of a substring found in the string, but re. match() searches only from the beginning of the string and return match object if found. ... While re.search() searches for the whole string even if the string contains multi-lines and tries to find a match of the substring in all the lines of string.

In [ ]:
text = "Python 3.0 was released on 12-03-2008."
information = re.search('(\d{1,2})-(\d{2})-(\d{4})', text)

In [ ]:
information.group(0)

'12-03-2008'

In [ ]:
# group 0 is the whole pattern, grouping for paranteces starts from 1,2,3...
information.group(3)

'2008'

#### Named groups

In [ ]:
text = "Austin, 78701"
cities = re.search(r"(?P<city>[A-Za-z]+).*?(?P<zipcode>\d{5})", text)

In [ ]:
type(cities)

re.Match

In [ ]:
cities.group("city")

'Austin'

### Backreferences
<font color='blue'> <b> Using capturing groups to reference back to a group </b> </font>

In [ ]:
sentence = "I wish you a happy happy birthday!"
re.findall(r"(\w+)\s ", sentence)

[]

In [ ]:
sentence = "I wish you a happy happy birthday!"
re.findall(r"(\w+)\s", sentence)

['I', 'wish', 'you', 'a', 'happy', 'happy']

In [ ]:
# this is used for repeated words. We want to see the specific word repeated again in the sentence.

In [ ]:
sentence = "I wish you a happy happy birthday!"
re.findall(r"(\w+)\s\1", sentence)

['happy']

In [ ]:
sentence = "I wish you a happy happy birthday!"
re.sub(r"(\w+)\s\1", r"\1", sentence)

'I wish you a happy birthday!'

### Example:

In [ ]:
for string in html_tags:
    # Complete the regex and find if it matches a closed HTML tags
    match_tag =  re.match(r"<(\w+)>.*?</\1>", string)
 
    if match_tag:
        # If it matches print the first group capture
        print("Your tag {} is closed".format(match_tag.group(1))) 
    else:
        # If it doesn't match capture only the tag 
        notmatch_tag = re.match(r"<(\w+)>", string)
        # Print the first group capture
        print("Close your {} tag!".format(notmatch_tag.group(1)))

<font color='blue'> <b> Using named capturing groups to reference back </b> </font>

In [ ]:
sentence = "Your new code number is 23434. Please, enter 23434 to open the door."
re.findall(r"(?P<code>\d{5}).*?(?P=code)", sentence)

['23434']

<font color='blue'><b> Using \g when we want to replace the repeated pattern and only applies to named groups!!!  <b></font>

In [ ]:
sentence = "This app is not working! It's repeating the last word word."
re.sub(r"(?P<word>\w+)\s(?P=word)", r"\g<word>", sentence)

"This app is not working! It's repeating the last word."

## Example:

nouraei@gmail.com 

r'[a-zA-Z]+@[a-zA-Z]+\.com'

hooman.nouraei@gmail.edu

r'[a-zA-Z.]+@[a-zA-Z]+\.(com|edu)'

h-nouraei-2002@my-yahoo.net

<center><font color='green'> r'[a-zA-Z.-]+@[a-zA-Z-]+\.(com|edu|net)'</font></center>

## Example:

https://www.google.com

http:coreyms.com

https://youtube.com

https://www.nasa.gov 


r'https?://(www\.)?\w+\.\w+' 

<center><font color='green'> r'https?://(www\.)?\w+\.\w+'</font></center>

### Group characters

In [ ]:
text='''Clary has 2 friends who she spends
        a lot time with. Susan has 3 brothers 
        while John has 4 sisters.'''
# we want to capture name and number of firends. That is why we need grouping.

In [ ]:
re.findall('[A-Za-z]+\s\w+\s\d+\s\w+', text) # word has must be removed!!!

['Clary has 2 friends', 'Susan has 3 brothers', 'John has 4 sisters']

In [ ]:
# first we find all the names
re.findall('([A-Za-z]+)\s\w+\s\d+\s\w+', text)

['Clary', 'Susan', 'John']

In [ ]:
friends = re.findall('([A-Za-z]+)\s\w+\s(\d+)\s(\w+)', text)
friends

[('Clary', '2', 'friends'),
 ('Susan', '3', 'brothers'),
 ('John', '4', 'sisters')]

In [ ]:
type(friends)

list

In [ ]:
friends[0][1]

'2'

### Capturing groups
Immediately to the left

r"apple+" : + applies to e and not to apple

### Apply a quantifier to the entire group

In [ ]:
re.search(r"(\d[A-Za-z])+", "My user name is 3e4r5fg")

In [ ]:
re.findall(r"(\d[A-Za-z].+)", "My user name is 3e4r5fg")

['3e4r5fg']

In [ ]:
re.findall(r"(\d[A-Za-z])+", "My user name is 3e4r5fg")

['5f']

### <font color='green'> difference between Capture a repeated group (\d+) vs. repeat a capturing group (\d)+ </font>

In [ ]:
'''the out put is only 5 and three because the captured partern
is looking for a digit that repeates one or more times'''

my_string = "My lucky numbers are 8755 and 33"
re.findall(r"(\d)+", my_string)

['5', '3']

In [ ]:
''' The pattern is looking for numbers then all the numbers are 
going to be captured together'''
re.findall(r"(\d+)", my_string)

['8755', '33']

### Looking for patterns: re.search and re.match 
#### They will find the index related to the pattern

In [ ]:
re.search(r"\d{4}", "4506 people attend the show")

In [ ]:
re.search(r"\d+", "Yesterday, I saw 3 shows")

In [ ]:
re.match(r"\d{4}", "4506 people attend the show")

In [ ]:
#Be carefull about this one: Match =None !!!!
re.match(r"\d+","Yesterday, I saw 3 shows")

## Lookaround
Allow us to confirm that sub-pattern is ahead or behind main pattern

At my current position in the matching process, look ahead or behind and examine whether some pattern macthes or not match before continuing.

- lookaround is a non-capturing group 
- checks that the first part of the expression is followed or not by the lookahead expression 
- Return only the first part of the expression

### Positive look-ahead ?=

Example:position is on the cat 

    the white cat sat on the chair 
    
Positive (?=sat)                 
negative (?!run)

In [ ]:
# we want only the txt files that followed by word transferred
my_text = "tweets.txt transferred, mypass.txt transferred, keywords.txt error"
re.findall(r"\w+\.txt(?=\stransferred)", my_text)

['tweets.txt', 'mypass.txt']

### Negative look-ahead ?!

In [ ]:
my_text = "tweets.txt transferred, mypass.txt transferred, keywords.txt error"
re.findall(r"\w+\.txt(?!\stransferred)", my_text)

['keywords.txt']

## Look-behind

### Positive look-behind ?<

In [ ]:
my_text = "Member: Angus Young, Member: Chris Slade, Past: Malcolm Young, Past: Cliff Williams."
re.findall(r"(?<=Member:\s)\w+\s\w+", my_text)

['Angus Young', 'Chris Slade']

In [ ]:
# Example:
# Positive lookbehind
look_behind = re.findall(r"(?<=[Pp]ython\s)\w+", sentiment_analysis)

# Print out
print(look_behind)

### Negative look-behind ?<

In [ ]:
my_text = "My white cat sat at the table. However, my brown dog was lying on the couch."
re.findall(r"(?<!brown\s)(cat|dog)", my_text)

['cat']